GEMINI_API_KEY=your_api_key
DEBUG=True
# --- Core Security ---
SESSION_SECRET=your_long_random_string_here

# --- Database ---
# Use an internal URL or a cloud provider (Render PostgreSQL / Aiven MySQL)
MYSQL_HOST=host.docker.internal
MYSQL_HOST=host_name
MYSQL_USER=user_name
MYSQL_PASSWORD=your_actual_password
MYSQL_DB=codestatic_db

# --- Google OAuth ---
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret



# --- Email / SMTP (For OTP & Feedback) ---
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password
MAIL_FROM=your_email@gmail.com
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com